fastapi
uvicorn
python-multipart
python-dotenv
PyPDF2
python-docx
Pillow
pytesseract
langchain
langchain-core
langchain-huggingface
langchain-groq
langchain-tavily
langgraph
chromadb
tavily-python
huggingface-hub
transformers
sentence-transformers
pydantic
httpx
aiofiles
typing-extensions
