fastapi
uvicorn
python-multipart
python-dotenv
pymupdf4llm
python-docx
Pillow
pytesseract
langchain
langchain-core
langchain-huggingface
langchain-groq
langchain-tavily
langgraph
chromadb
tavily-python
huggingface-hub
transformers
sentence-transformers
rank-bm25
pydantic
httpx
aiofiles
typing-extensions
